* {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sketch-pad {
	display: grid;
	border: 2px solid black;
}

.active {
	background-color: black;
}
